* {
  margin: 0px 0px;
  padding: 0px 0px;
}
body {
  background-color: rgb(5, 208, 208);
  height: 100%;
}
.container {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  background-color: white;
}
.Box {
  border: 5px solid black;
}
h1 {
  width: 100%;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: rgb(198, 195, 195);
}
