* {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(5, 208, 208);
}
.container {
  width: 1200px;
  margin: 0px auto;
  background-color: white;
}
.Box {
  width: 100%;
  background-color: steelblue;
  border: 5px solid black;
}
h1 {
  width: 100%;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: rgb(198, 195, 195);
}
.MainProduct {
  width: 100%;
  height: 400px;
}
.image {
  float: left;
  width: 25%;
  height: 100%;
}
.product {
  float: right;
  width: 75%;
  height: 100%;
}
.MainProduct::after {
  content: "";
  display: block;
  clear: both;
}
.BuyProduct,
.productInfo {
  width: 50%;
  height: 100%;
}
.BuyProduct {
  background-color: beige;
  float: left;
}
.productInfo {
  background-color: bisque;
  float: right;
}
.Price,
.Shipping {
  width: 50%;
  padding: 5px 0px;
}
.Price {
  float: left;
  font-weight: bold;
  padding-left: 20px;
}
.Shipping {
  float: right;
  text-align: right;
  text-transform: uppercase;
  padding-right: 5px;
}
