* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  color: #e2e8f0;
  background-color: #0f172a80; /* #RRGGBBAA */
}
.Main_header {
  background-color: #1e293b;
  width: auto;
  padding: 20px 0px;
  height: 100px;
}
nav {
  margin: 5px 10px !important;
  padding: 5px 10px !important;
}
.nav_style {
  margin-right: 5px;
  padding-right: 5px;
}
h1,
h2,
h3,
h4 {
  color: #f8fafc;
  margin: 10px 10px !important;
  padding: 10px 10px !important;
  width: 50%;
  height: auto;
  border: 5px dotted beige;
}
.htmlImage {
  width: 60%;
  height: auto;
}
p {
  font-size: 18px;
  line-height: 1.8;
  margin: 10px 20px;
  padding-right: 5px;
  /* display: inline; */
}
ul,
ol {
  margin: 10px 30px;
  padding: 20px 20px;
  font-size: 13px;
}
aside {
  background-color: #1e293b;
  width: 500px;
  height: auto;
  border-top: 5px solid #f59e0b;
  margin: 30px 30px;
}
a {
  color: rgb(255, 136, 0);
  text-decoration: none;
}
a:visited {
  color: rgba(255, 136, 0, 0.462);
  text-decoration: underline line-through red;
}
a:hover {
  color: #f59e0b;
  text-decoration: underline wavy #f59e0b;
  font-weight: bold;
  background-color: #0f172a80;
}
.name {
  font-size: 10px;
  margin-left: 0px;
  margin-top: 0px;
}
.container {
  color: #e2e8f0;
  background-color: #0f172a;
  border-top: 10px solid #f59e0b;
  width: 1000px;
  margin: 0px auto;
}
